NEXT_PUBLIC_API_URL=https://backend-production-ff5b.up.railway.app/api
NEXT_PUBLIC_WHATSAPP_API_BASE=https://YOUR-WHATSAPP-RAILWAY-DOMAIN
NEXT_PUBLIC_WHATSAPP_SOCKET_URL=https://YOUR-WHATSAPP-RAILWAY-DOMAIN
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_5j2SnwDopOcwQI
